html {
  font-family: "Roboto", sans-serif;
}

@keyframes fadeInOutPartial {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shine {
  0%,
  50% {
    background-position: 150% center;
  }
  100% {
    background-position: -50% center;
  }
}

@keyframes fadeScaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeScaleOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}